* {
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar-button {
  display: none;
}

body {
  scroll-behavior: smooth;
}

.root {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
  border-left: 1px solid #E6ECF8;

}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}

body::-webkit-scrollbar-button {
  display: none;
}

#root #root::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #E6ECF8;

}

#root::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}